In [1]:
# read in preplacements.csv into a dataframe

import pandas as pd
import numpy as np

df_seniors = pd.read_csv('numbers_seniors.csv')
df_juniors = pd.read_csv('numbers_juniors.csv')
df_sophomores = pd.read_csv('numbers_sophomores.csv')

# combine the dataframes with new columns for year
df_seniors['Year'] = 'senior'
df_juniors['Year'] = 'junior'
df_sophomores['Year'] = 'sophomore'

df = pd.concat([df_seniors, df_juniors, df_sophomores])

# lowercase all emails
df['Email'] = df['Email'].str.lower()

# replace any @hmc.edu with @g.hmc.edu
df['Email'] = df['Email'].str.replace('@hmc.edu', '@g.hmc.edu')
print(df.head(30))

       FirstName       LastName                      Name  Number  \
0          Haley       Colorado            Haley Colorado     1.0
1           Nina            Luo                  Nina Luo     2.0
2       Marcella           Ruiz             Marcella Ruiz     3.0
3          Tommy            Liu                 Tommy Liu     4.0
4           Adne          Brako                Adne Brako     5.0
5       Theodore         Julien           Theodore Julien     6.0
6         Nicole             Wu                 Nicole Wu     7.0
7          Megan            Kho                 Megan Kho     8.0
8        Patrick            Liu               Patrick Liu     9.0
9           Wava           Chan                 Wava Chan    10.0
10      Carleton         Imbens           Carleton Imbens    12.0
11          Adia         Loftis               Adia Loftis    13.0
12        Fanuel      Alemayehu          Fanuel Alemayehu    14.0
13    Nirantheri  Vithiananthan  Nirantheri Vithiananthan    15.0
14      Cristina  Tzunun Palomo    Cristina Tzunun Palomo    16.0
15  Tito Augusto       Cuchilla     Tito Augusto Cuchilla    17.0
16       Vanessa          Lopez             Vanessa Lopez    18.0
17        Isabel          Godoy              Isabel Godoy    19.0
18        Massin            Ihs                Massin Ihs    20.0
19          Jeff            Ren                  Jeff Ren    20.5
20          Troy        Kaufman              Troy Kaufman    21.0
21        Mickey   Teekamongkol       Mickey Teekamongkol    22.0
22        Shreya        Jampana            Shreya Jampana    23.0
23       Jessica          Huang             Jessica Huang    24.0
24          Kavi            Dey                  Kavi Dey    25.0
25         Advik        Mareedu             Advik Mareedu    26.0
26          Kate        Huefner              Kate Huefner    27.0
27       Solomon          Cooke             Solomon Cooke    28.0
28         Gaven          Jesse               Gaven Jesse    28.5
29         Jenna            Luo                 Jenna Luo    29.0

                       Email    Year
0        hcolorado@g.hmc.edu  senior
1            niluo@g.hmc.edu  senior
2            mruiz@g.hmc.edu  senior
3           tomliu@g.hmc.edu  senior
4           abrako@g.hmc.edu  senior
5          tjulien@g.hmc.edu  senior
6              nwu@g.hmc.edu  senior
7             mkho@g.hmc.edu  senior
8           hualiu@g.hmc.edu  senior
9            wchan@g.hmc.edu  senior
10         cimbens@g.hmc.edu  senior
11         aloftis@g.hmc.edu  senior
12      falemayehu@g.hmc.edu  senior
13  nvithiananthan@g.hmc.edu  senior
14   ctzununpalomo@g.hmc.edu  senior
15       tcuchilla@g.hmc.edu  senior
16          vlopez@g.hmc.edu  senior
17          igodoy@g.hmc.edu  senior
18            mihs@g.hmc.edu  senior
19           jeren@g.hmc.edu  senior
20        tkaufman@g.hmc.edu  senior
21   steekamongkol@g.hmc.edu  senior
22        sjampana@g.hmc.edu  senior
23        jeshuang@g.hmc.edu  senior
24            kdey@g.hmc.edu  senior
25        amareedu@g.hmc.edu  senior
26      kathuefner@g.hmc.edu  senior
27          scooke@g.hmc.edu  senior
28          gjesse@g.hmc.edu  senior
29            jluo@g.hmc.edu  senior

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

# import env variables
import os
from dotenv import load_dotenv
from pathlib import Path

# import libraries for ssh tunneling
import sshtunnel

dotenv_path = os.path.join(os.getcwd(), '.env')
print(dotenv_path)

load_dotenv(dotenv_path=dotenv_path, verbose=True)

sql_pass = os.environ.get('SQL_PASS')
sql_ip = os.environ.get('SQL_IP')
sql_db_name = os.environ.get('SQL_DB_NAME')
sql_user = os.environ.get('SQL_USER')

tunnel_host = os.environ.get('TUNNEL_HOST')
tunnel_port = os.environ.get('TUNNEL_PORT')
tunnel_user = os.environ.get('TUNNEL_USER')
tunnel_pass = os.environ.get('TUNNEL_PASS')

tunnel = sshtunnel.SSHTunnelForwarder(
    (tunnel_host, int(tunnel_port)),
    ssh_username=tunnel_user,
    ssh_password=tunnel_pass,
    remote_bind_address=(sql_ip, 5432)
)

# After starting the tunnel
tunnel.start()

# Get the local bind port that the tunnel is using
local_port = tunnel.local_bind_port

# Update connection string to use localhost and the tunneled port
CONNSTR = f'postgresql://{sql_user}:{sql_pass}@127.0.0.1:{local_port}/{sql_db_name}'

# Now create your SQLAlchemy engine with this connection string
engine = create_engine(CONNSTR)

# Test the connection
with engine.connect() as connection:
    result = connection.execute(text("SELECT 1"))
    print("Connection successful!")

/home/tomql/workspaces/roomdraw/database/.env
Connection successful!

In [3]:

with engine.connect() as connection:
    # loop through the dataframe and insert each row into the database
    for index, row in df.iterrows():
        # create a dictionary to store the values for each row
        values = {
            'first_name': row['FirstName'],
            'last_name': row['LastName'],
            'email': row['Email'],
            
            'year': row['Year']
        }
        
        draw_number = float(row['Number'])
        
        # escape out the single quotes in the first name and last name
        values['first_name'] = values['first_name'].replace("'", "''")
        values['last_name'] = values['last_name'].replace("'", "''")
        in_dorm = 0
        preplaced = False
        
        if str(draw_number).endswith('.0'):
            draw_number = int(draw_number)
        # create a query to insert the values into the database
        query = f"INSERT INTO users (first_name, last_name, draw_number, year, preplaced, in_dorm, email) VALUES ('{values['first_name']}', '{values['last_name']}', {draw_number}, '{values['year']}', {preplaced}, {in_dorm}, '{values['email']}')"
        
        result = connection.execute(text(query))

        print(f'Inserted {values["first_name"]} {values["last_name"]} into the database')
    
    connection.commit()
    
# Your SQLAlchemy code here...

# When you're done, close the tunnel
tunnel.stop()

Inserted Haley Colorado into the database
Inserted Nina Luo into the database
Inserted Marcella Ruiz into the database
Inserted Tommy Liu into the database
Inserted Adne Brako into the database
Inserted Theodore Julien into the database
Inserted Nicole Wu into the database
Inserted Megan Kho into the database
Inserted Patrick Liu into the database
Inserted Wava Chan into the database
Inserted Carleton Imbens into the database
Inserted Adia Loftis into the database
Inserted Fanuel Alemayehu into the database
Inserted Nirantheri Vithiananthan into the database
Inserted Cristina Tzunun Palomo into the database
Inserted Tito Augusto Cuchilla into the database
Inserted Vanessa Lopez into the database
Inserted Isabel Godoy into the database
Inserted Massin Ihs into the database
Inserted Jeff Ren into the database
Inserted Troy Kaufman into the database
Inserted Mickey Teekamongkol into the database
Inserted Shreya Jampana into the database
Inserted Jessica Huang into the database
Inserted Kavi Dey into the database
Inserted Advik Mareedu into the database
Inserted Kate Huefner into the database
Inserted Solomon Cooke into the database
Inserted Gaven Jesse into the database
Inserted Jenna Luo into the database
Inserted Charlie Schofield into the database
Inserted Julia Kolt into the database
Inserted Josaphat Ngoga into the database
Inserted Henrik Barck into the database
Inserted Christian Johnson into the database
Inserted Oswaldo Cardenas into the database
Inserted Theo Rode into the database
Inserted Steven Tran into the database
Inserted Roman De Santos into the database
Inserted Otis Golden into the database
Inserted Mia Mirabelli into the database
Inserted Cole Ellsworth into the database
Inserted Joseph Abdelmalek into the database
Inserted Shreya Reddi into the database
Inserted Covi Diaz Ruiz into the database
Inserted Isaac Perez into the database
Inserted Charles Lambert into the database
Inserted Diya Mehta into the database
Inserted Vibhu Krishnan into the database
Inserted Katrina Nguyen into the database
Inserted Bea Araiza into the database
Inserted Kanoa Parker into the database
Inserted Jessica Liu into the database
Inserted Madeleine Kan into the database
Inserted Ethan Sandoval into the database
Inserted Kieran Saucedo into the database
Inserted Stuart Kerr into the database
Inserted William Koh into the database
Inserted Hailey Knolton into the database
Inserted Matthew Molinar into the database
Inserted Emily Kendrick into the database
Inserted Miranda Garibay Brandt into the database
Inserted Amy Liu into the database
Inserted Terence Chen into the database
Inserted Mia Alexander into the database
Inserted Jadyn Iinuma into the database
Inserted Alex Robertson into the database
Inserted Sara Wexler into the database
Inserted Zeke Yarboi into the database
Inserted Ananya Purwar into the database
Inserted Thomas Lilygren into the database
Inserted Korin Aldam-Tajima into the database
Inserted Maya Jenkins into the database
Inserted Michael Mateo-Gaspar into the database
Inserted Ivan Dudiak into the database
Inserted Madeline Seifert into the database
Inserted Andrew Blackett into the database
Inserted Lucas Lemos into the database
Inserted Aditi Bonthu into the database
Inserted Ben Colbeck into the database
Inserted Marika Ragnartz into the database
Inserted Zoe Messenger into the database
Inserted Elena Miller into the database
Inserted Tay Han into the database
Inserted Diya Gangwar into the database
Inserted William Hodges into the database
Inserted Alspencer Omondi into the database
Inserted Tyler Headley into the database
Inserted Jacob Fain into the database
Inserted Claudia Nolasco into the database
Inserted Sayema Lubis into the database
Inserted Ashley Kim into the database
Inserted Ria Rajasekar into the database
Inserted Will Sedo into the database
Inserted Sheridan Dorsey into the database
Inserted Henry Heathwood into the database
Inserted Alicia Luo into the database
Inserted XiaoLan Deng into the database
Inserted Jasper Cox into the database
Inserted Tony Laviada into the database
Inserted Osa Omoregbe into the database
Inserted Wilson Zambrano into the database
Inserted Emma Angel into the database
Inserted Slader Spoor into the database
Inserted Izze Stolzoff into the database
Inserted Noona Maguire into the database
Inserted Cate Lewison into the database
Inserted Joshua Zhong into the database
Inserted Laura Vairus into the database
Inserted Ian Smith into the database
Inserted Corey Hickson into the database
Inserted Next Ongarjvaja into the database
Inserted Alessandra Ela into the database
Inserted Jason Gounder into the database
Inserted Aidan Mann into the database
Inserted Joaquin Milk into the database
Inserted Celeste Magdaleno into the database
Inserted My Nguyen into the database
Inserted Jared Carreno into the database
Inserted Christian Channing into the database
Inserted Brayden Mendoza into the database
Inserted Kayla Long into the database
Inserted Aaron Zhang into the database
Inserted Marina Bellido into the database
Inserted Aimee Co into the database
Inserted Leila Bensaid into the database
Inserted Kenji Horigome into the database
Inserted Rui Zhang into the database
Inserted Bob Zeng into the database
Inserted Alicia Krasner into the database
Inserted Adam Tang into the database
Inserted Thomas Wing into the database
Inserted Louis DeLano into the database
Inserted Liselotte Ryan into the database
Inserted Caiya Coggshall into the database
Inserted Daniel Kotkosky into the database
Inserted Bam Sindhurattavej into the database
Inserted Sangeon Park into the database
Inserted Jacob Glasser into the database
Inserted Luis Lorenzana into the database
Inserted Warren Pham into the database
Inserted Nora O''Connor into the database
Inserted Richard Zheng into the database
Inserted Angelina Tsai into the database
Inserted Bennet Matazzoni into the database
Inserted Nina Jobanputra into the database
Inserted Ka''imi Duncklee into the database
Inserted Felipe Andrade Fernandes into the database
Inserted Caroline Sorrells into the database
Inserted Betsy Wu into the database
Inserted Daniel Voyles into the database
Inserted Luna York into the database
Inserted George Davis into the database
Inserted Damilola Dada into the database
Inserted Sophia Lemus into the database
Inserted Elle Marsyla into the database
Inserted Isaiah Jeter into the database
Inserted Rodrigo Rosas into the database
Inserted Cameron Hernandez into the database
Inserted Kathryn Shaw into the database
Inserted Connor Neely into the database
Inserted Alan Gutierrez into the database
Inserted Mithra Karamchedu into the database
Inserted Amir Gonzalez Camacho into the database
Inserted Jeremy Tan into the database
Inserted Ian McGuire into the database
Inserted Tatiana Cardoso into the database
Inserted Avery Smith into the database
Inserted Lyra Cromwell into the database
Inserted Kala Romanowski into the database
Inserted Mira Kaniyur into the database
Inserted Abdullah Fattahi into the database
Inserted Anshuman Singh into the database
Inserted Erin Wang into the database
Inserted Jimmy Boyle into the database
Inserted Kaitlyn Chen into the database
Inserted Delaney Pratt into the database
Inserted Sarah Yandell into the database
Inserted Alexis Silva into the database
Inserted Tessa Han into the database
Inserted Fabricio Chombo into the database
Inserted Tavo Jones into the database
Inserted Josue Meraz into the database
Inserted Huanhuan Huang into the database
Inserted Yahir Orihuela into the database
Inserted Annika Larson into the database
Inserted Katie Latvakoski into the database
Inserted Kai Mawhinney into the database
Inserted Shadab Sharif into the database
Inserted Cole Plepel into the database
Inserted Max Schernikau into the database
Inserted SJ Caldwell into the database
Inserted Chengyi Tang into the database
Inserted Mansib Rahman into the database
Inserted Alexander Seager into the database
Inserted Yuan Garcia into the database
Inserted Eric Grossman-Glover into the database
Inserted Selina Yao into the database
Inserted Claire Stuvland into the database
Inserted Bilal Abraham into the database
Inserted Siri Xu into the database
Inserted Paul Kim into the database
Inserted Xiaofeng Li into the database
Inserted Eduardo Ambriz Lazo into the database
Inserted Sofia Robertson into the database
Inserted Samuel Winkler into the database
Inserted Christian Wu into the database
Inserted Maynor Bac-Itzep into the database
Inserted Zoe He into the database
Inserted Joshua Tanksley into the database
Inserted Georgia Tai into the database
Inserted Ken Tu into the database
Inserted Evan Siegel into the database
Inserted Sammy Tribble into the database
Inserted Jiani Fu into the database
Inserted Liv DeBoer into the database
Inserted Akshay Seetharam into the database
Inserted Michael O''Brien into the database
Inserted John Simon into the database
Inserted Nicole Fang into the database
Inserted Connor Jones into the database
Inserted Sam Wheeler into the database
Inserted Aum Pechkamnerd into the database
Inserted Ravago Jones into the database
Inserted Micah Borg into the database
Inserted Diego Weiss into the database
Inserted Bowen Deng into the database
Inserted Naiche Gonzalez into the database
Inserted Ayushi Kashyap into the database
Inserted Rohan Desai into the database
Inserted Andra Marinescu into the database
Inserted Olivia Li into the database
Inserted Drake Gonzales into the database
Inserted Hugo Guckert into the database
Inserted Angel Perez into the database
Inserted Diego Pacheco into the database
Inserted Anirudh Gupta into the database
Inserted Michael Chan into the database
Inserted Jonathan Tabb into the database
Inserted Parker McGraw into the database
Inserted Gabe Menendez de Alencar into the database
Inserted Nate Seluga into the database
Inserted Grady Johnson into the database
Inserted Thiven Anderson into the database
Inserted Leia Shen into the database
Inserted Eduardo HernÃ¡ndez into the database
Inserted Ever Diaz-Ramos into the database
Inserted Adrian Gonzalez into the database
Inserted Danny Tran into the database
Inserted Elodie Serres into the database
Inserted Zaara Bhatia into the database
Inserted Bell Zhou into the database
Inserted Berkeley Harsch into the database
Inserted Elliot Bobrow into the database
Inserted Sophia Atwell into the database
Inserted Morgan Pulling into the database
Inserted Yating Lin into the database
Inserted Andy Xu into the database
Inserted Samantha Riter into the database
Inserted Johnson Ho into the database
Inserted Florence Lin into the database
Inserted Marcell Gentles into the database
Inserted Jayden Thadani into the database
Inserted Gavin Netherton into the database
Inserted Sophie Khuu into the database
Inserted Liv Chu into the database
Inserted Broderick Bownds into the database
Inserted Eoin O''Connell into the database
Inserted Imani Hernden into the database
Inserted Yiyao Qu into the database
Inserted James Trongdee into the database
Inserted Brock Bownds into the database
Inserted Ella Joo into the database
Inserted Stephen Xu into the database
Inserted Iris Randolph into the database
Inserted Sebastian Heredia into the database
Inserted Christian LamAlvarez into the database
Inserted Stryker Scales into the database
Inserted William Copeland into the database
Inserted Jonathan Holcombe into the database
Inserted Andre Mendoza into the database
Inserted Cooper Nixon into the database
Inserted Carlos Ojeda de Silva into the database
Inserted Mayu Tatsumi into the database
Inserted Elliot Snyder into the database
Inserted Orion Roven into the database
Inserted Cole Sumino into the database
Inserted Shreyan Mittal into the database
Inserted Kyra Burns into the database
Inserted Dwight King into the database
Inserted Wil Kirkland into the database
Inserted Natalie Minor into the database
Inserted Matthew Simpson into the database
Inserted Sofi Zaozerska into the database
Inserted Lucas Sullivan into the database
Inserted Finn Pennings into the database
Inserted Aabhas Senapati into the database
Inserted Ivy McFetridge into the database
Inserted Hua Yuan into the database
Inserted Michael Huynh into the database
Inserted Rosemary McManus into the database
Inserted Jasmine Sampat into the database
Inserted Liz Zhao into the database
Inserted Etienne Wilson into the database
Inserted Auto Pichitphun into the database
Inserted Sophie Saleh into the database
Inserted Lexie Stinson into the database
Inserted Eastan Oo into the database
Inserted Diego Silva into the database
Inserted Elsa Li into the database
Inserted Alejandro Tellez into the database
Inserted Ivan Jimenez Pineda into the database
Inserted Helen Sun into the database
Inserted Amy Enayati into the database
Inserted Luke Pratt into the database
Inserted Dante Tedeschi into the database
Inserted Haley Duncan into the database
Inserted Erika Drisko into the database
Inserted Athena Jiang-Qin into the database
Inserted Scarlet Rutter into the database
Inserted Lucas Giraldo into the database
Inserted Julian Piedrahita into the database
Inserted Max Gerber into the database
Inserted Emily Ing into the database
Inserted Anna Chen into the database
Inserted Sean Su into the database
Inserted Sienna Bone into the database
Inserted Uddant Patodia into the database
Inserted Jonas Knudson into the database
Inserted Arjun Pemmasani into the database
Inserted Diego Robles into the database
Inserted Ishita Raje into the database
Inserted Kelly Naula Quezada into the database
Inserted Amanda Louie into the database
Inserted Oren Valdez into the database
Inserted Eliana Berumen into the database
Inserted Maddie Ravid into the database
Inserted Oliver Howe into the database
Inserted Nika Makhervaks into the database
Inserted Michael Colen into the database
Inserted Aidan Deshong into the database
Inserted Jasmine Liu into the database
Inserted Ananya Mahadevan into the database
Inserted Lily Surjadinata into the database
Inserted Clarence Cheam into the database
Inserted Synthia Doft into the database
Inserted Edgar Rodriguez into the database
Inserted Tiffany Wu into the database
Inserted Cyrus Wu into the database
Inserted William Ortega into the database
Inserted Soraya Zarazua into the database
Inserted Lyla Browne into the database
Inserted Melinda Deng into the database
Inserted Galen Lee into the database
Inserted Isabella Vera into the database
Inserted Rowan Haywood-O''Neill into the database
Inserted Zachary Wood into the database
Inserted Penelope Rodriguez into the database
Inserted Cooper Davis into the database
Inserted Luna Young into the database
Inserted Megan Tran into the database
Inserted Brannan Rosenfeld into the database
Inserted Jake Kapp into the database
Inserted Anika Sharma into the database
Inserted Michael Mumo into the database
Inserted Joaquin Gonzalez-Salgado into the database
Inserted Jiakang Chen into the database
Inserted Angela Milo into the database
Inserted Hunter Wilson into the database
Inserted Iris Ozkan Pallagrosi into the database
Inserted Liam Graham into the database
Inserted Kevin Xia into the database
Inserted Kavya Ummethala into the database
Inserted Catherine Buckner into the database
Inserted Ashlyn Green into the database
Inserted Brave Yongphiphatwong into the database
Inserted Max Olson into the database
Inserted Miguel Navarrete into the database
Inserted Alice Liu into the database
Inserted Zaan Saeed into the database
Inserted Jimena De la Torre into the database
Inserted Andy Maldonado Martinez into the database
Inserted Nata Velarde-Alvarez into the database
Inserted Chase Hameetman into the database
Inserted Rodrigo Penide Lema into the database
Inserted Sarah Nathani into the database
Inserted Sonia Berliner into the database
Inserted Chase Campbell into the database
Inserted Kate Risse into the database
Inserted Clover Weiss into the database
Inserted Logan Mansfield into the database
Inserted Brian Austin-Handy into the database
Inserted Jessica Li into the database
Inserted Aaron Haub into the database
Inserted Sophie Wang into the database
Inserted Samara Baidwan into the database
Inserted Arnav Shetty into the database
Inserted Ben Lertwachara into the database
Inserted Ellen Yu into the database
Inserted Haspard Murphy into the database
Inserted Alana Jonick into the database
Inserted Lauren Staples into the database
Inserted Kimberly Silverman into the database
Inserted Enzo Katzen into the database
Inserted Ava Barasch into the database
Inserted Lucy Will into the database
Inserted Kinsey Myrick into the database
Inserted Mateo Hoffer into the database
Inserted Karis Park into the database
Inserted Karis Peebles into the database
Inserted London Serratos into the database
Inserted Anna McDaniel into the database
Inserted Aleister Steadman into the database
Inserted Anushka Chowdhary into the database
Inserted Olivia Backholm into the database
Inserted Aresema Ata into the database
Inserted Max Even into the database
Inserted Keegan Cabrera into the database
Inserted Kashyan Damani into the database
Inserted Michael Burch into the database
Inserted Dylan Rainman into the database
Inserted Willa Switzer into the database
Inserted David Liu into the database
Inserted Roby Hooper into the database
Inserted Michael Ferraioli into the database
Inserted Abby Sandorff into the database
Inserted Charlotte Almond into the database
Inserted Daria Lhommedieu into the database
Inserted Spencer Lewis into the database
Inserted Alex Chen into the database
Inserted Rohan Yarlagadda into the database
Inserted Nathan d''Abreu Noronha into the database
Inserted Maraki Solomon into the database
Inserted Kathy Guo into the database
Inserted Nathan Chen into the database
Inserted Talia Green into the database
Inserted Shea Mezzasalma into the database
Inserted Pierce Clark into the database
Inserted Maria Randazzo into the database
Inserted Gavin Ames into the database
Inserted Audrey Loan into the database
Inserted Ben Phung into the database
Inserted Nikita Gupta into the database
Inserted Angela Zheng into the database
Inserted Freja Johnson into the database
Inserted Christian Gonzalez into the database
Inserted Selina Rong into the database
Inserted Cian Bryant into the database
Inserted Aaron Jimenez into the database
Inserted Nora Nickolov into the database
Inserted Aditi Gargeshwari into the database
Inserted Carlos Nochebuena into the database
Inserted Claire Wang into the database
Inserted Nola Zaugg-James into the database
Inserted Ellie Ng into the database
Inserted Max Qiu into the database
Inserted Ben Brown into the database
Inserted Molly McPhail into the database
Inserted Landon Tu into the database
Inserted Ayla Greenstein into the database
Inserted Yibei Peng into the database
Inserted Angie Hou into the database
Inserted Mauricio Olvera Escobar into the database
Inserted Jacob Mendoza into the database
Inserted Ali El Seblani into the database
Inserted Jerry Xu into the database
Inserted Robyn Dizon into the database
Inserted Cynthia Arenas into the database
Inserted Nicole Ge into the database
Inserted Steven Zhang into the database
Inserted Thomas Le into the database
Inserted Amy Li into the database
Inserted Trusten Lehmann-Karp into the database
Inserted Steve Wang into the database
Inserted Nuraini Isorena into the database
Inserted Kesja Kornacka into the database