In [1]:
# read in preplacements.csv into a dataframe

import pandas as pd
import numpy as np

gender_df = pd.read_csv('gender_preferences.csv')

""" Format of the gender_preferences.csv file:
Email,Name,Gender Preference,Preplaced
avanderson@g.hmc.edu,Avery Anderson,"Cis Woman, Trans Woman",Y
lanfang@g.hmc.edu,Lily Anfang,"Cis Woman, Trans Woman, Trans Man, Non-Binary",Y
abaik@g.hmc.edu,Adrianne Baik,"Cis Woman, Trans Woman",Y
abrako@g.hmc.edu,Adne Brako,Cis Man,N
kacheng@g.hmc.edu,Katie Cheng,"Cis Woman, Trans Woman, Non-Binary",Y
geverts@g.hmc.edu,Grace Everts,"Cis Woman, Trans Woman, Non-Binary",Y
"""

# ensure email is lowercase and if ends with @hmc.edu, make it @g.hmc.edu
gender_df['Email'] = gender_df['Email'].str.lower()
gender_df.loc[gender_df['Email'].str.endswith('@hmc.edu'), 'Email'] = gender_df['Email'].str.replace('@hmc.edu', '@g.hmc.edu')

In [2]:
from sqlalchemy import create_engine
from sqlalchemy.sql import text

# import env variables
import os
from dotenv import load_dotenv
from pathlib import Path

# import libraries for ssh tunneling
import sshtunnel

dotenv_path = os.path.join(os.getcwd(), '.env')
print(dotenv_path)

load_dotenv(dotenv_path=dotenv_path, verbose=True)

sql_pass = os.environ.get('SQL_PASS')
sql_ip = os.environ.get('SQL_IP')
sql_db_name = os.environ.get('SQL_DB_NAME')
sql_user = os.environ.get('SQL_USER')

tunnel_host = os.environ.get('TUNNEL_HOST')
tunnel_port = os.environ.get('TUNNEL_PORT')
tunnel_user = os.environ.get('TUNNEL_USER')
tunnel_pass = os.environ.get('TUNNEL_PASS')

tunnel = sshtunnel.SSHTunnelForwarder(
    (tunnel_host, int(tunnel_port)),
    ssh_username=tunnel_user,
    ssh_password=tunnel_pass,
    remote_bind_address=(sql_ip, 5432)
)

# After starting the tunnel
tunnel.start()

# Get the local bind port that the tunnel is using
local_port = tunnel.local_bind_port

# Update connection string to use localhost and the tunneled port
CONNSTR = f'postgresql://{sql_user}:{sql_pass}@127.0.0.1:{local_port}/{sql_db_name}'

# Now create your SQLAlchemy engine with this connection string
engine = create_engine(CONNSTR)

# Test the connection
with engine.connect() as connection:
    result = connection.execute(text("SELECT 1"))
    print("Connection successful!")

/home/tomql/workspaces/roomdraw/database/.env
Connection successful!

In [3]:
with engine.connect() as connection:
    # loop through the dataframe and insert each row into the database
    for index, row in gender_df.iterrows():
        # parse the list of gender preferences and strip whitespace
        gender_preferences = [pref.strip() for pref in row['Gender Preference'].split(',')]
            
        # insert the gender preference into the database in the user table
        """ Here is the sql for the user table:
        -- Columns: USER_ID(unique) claremontid, Year, DrawNumber, Preplaced(bool), In-Dorm (numbers for which dorm 0: None, 1:East etc.), groupID
        -- POSTGRES SQL
        CREATE TABLE Users (
            id serial,
            year varchar NOT NULL,
            first_name varchar NOT NULL,
            last_name varchar NOT NULL,
            email varchar,
            draw_number decimal NOT NULL,
            preplaced boolean NOT NULL,
            in_dorm int NOT NULL,
            sgroup_uuid uuid,
            participated boolean NOT NULL DEFAULT false,
            participation_time timestamp,
            room_uuid uuid,
            reslife_role varchar NOT NULL DEFAULT 'none',
            notifications_enabled boolean NOT NULL DEFAULT false,
            notification_created_at timestamp WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
            notification_updated_at timestamp WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
            gender_preferences varchar[] NOT NULL DEFAULT '{}',
            
            PRIMARY KEY (id),
            FOREIGN KEY (sgroup_uuid) REFERENCES SuiteGroups(sgroup_uuid)
        );
        """
        
        # ensure email is in the database, if not, error
        query = text("SELECT * FROM users WHERE email = :email")
        result = connection.execute(query, {"email": row['Email']})
        if result.rowcount == 0:
            print(f"Email {row['Email']} not found in the database")
            raise ValueError(f"Email {row['Email']} not found in the database")
        
        # Properly format array for PostgreSQL using the ARRAY constructor
        # This is the correct way to pass arrays to PostgreSQL
        array_string = "ARRAY[" + ",".join(f"'{pref}'" for pref in gender_preferences) + "]"
        query = text(f"UPDATE users SET gender_preferences = {array_string} WHERE email = :email")
        print(query)
        connection.execute(query, {"email": row['Email']})
    
    connection.commit()

# When you're done, close the tunnel
tunnel.stop()

UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman','Trans Man','Non-Binary'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Man'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman','Non-Binary'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman','Non-Binary'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Man'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman','Non-Binary'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman','Non-Binary'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Man'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Man'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman','Non-Binary'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Man','Trans Man'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Man','Trans Man'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Non-Binary'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Man','Trans Man'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman','Non-Binary'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email
UPDATE users SET gender_preferences = ARRAY['Cis Woman','Trans Woman'] WHERE email = :email